<div>

  <% params[:step] ||= '1' %>

  <h6>
    <% params %>
  </h6>
</div>


<%= form_with(model: pil, local: true) do |form| %>
  <% if pil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pil.errors.count, "error") %> prohibited this pil from being saved:</h2>

      <ul>
        <% pil.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if params[:step] == "1" %>
    <%= form.hidden_field :utm_source, value: params[:utm_source] %>
    <%= form.hidden_field :utm_medium, value: params[:utm_medium] %>
    <%= form.hidden_field :utm_campaign, value: params[:utm_campaign] %>

    <div class="form-group row ">
      <%= form.label "Фамилия", class: "col-sm-2 col-form-label " %>
      <div class="col-sm-10">
        <%= form.text_field :lastname, class: "form-control", placeholder: "Иванов" %>
        <small class="form-text text-muted col-form-label">
          Это тестовая форма, не указывайте реальные данные. Поле содержит автоподстановку
        </small>
      </div>
    </div>

    <div class="form-group row ">
      <%= form.label "Имя", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :firstname, class: "form-control", placeholder: "Иван" %>
        <small class="form-text text-muted col-form-label">
          Это тестовая форма, не указывайте реальные данные. Поле содержит автоподстановку
        </small>
      </div>
    </div>

    <div class="form-group row ">
      <%= form.label "Отчество", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :middlename, class: "form-control", placeholder: "Иванович" %>

        <small class="form-text text-muted col-form-label">
          Это тестовая форма, не указывайте реальные данные. Поле содержит автоподстановку
        </small>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :email, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.email_field :email, class: "form-control ", placeholder: "ivanov.ivan@mail.com" %>

        <small class="form-text text-muted col-form-label">
          Это тестовая форма, не указывайте реальные данные. Поле с типом = email и Клавиатура телефона должна
          адаптироватся.
        </small>
      </div>
    </div>
  <% end %>

  <% if params[:step] == "2" %>
    <div class="form-group row ">
      <%= form.label "Серия Паспорта", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :passportSeries, class: "form-control", placeholder: "9999" %>
        <small class="form-text text-muted col-form-label">
          Это тестовая форма, не указывайте реальные данные.
        </small>
      </div>
    </div>

    <div class="form-group row ">
      <%= form.label "Номер паспорта", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :passportNumber, class: "form-control", placeholder: "123456" %>
        <small class="form-text text-muted col-form-label">
          Это тестовая форма, не указывайте реальные данные.
        </small>
      </div>
    </div>

    <div class="form-group row ">
      <%= form.label "Дата выдачи паспорта", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.date_field :passportIssuedDate, class: "form-control", placeholder: "ГГГГ-ММ-ДД" %>
        <small class="form-text text-muted col-form-label">
          Не указывайте реальные данные. Календарь должен быть нативным
        </small>
      </div>

    </div>

    <div class="form-group row ">
      <%= form.label "Код подразделения", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :passportIssuedCode, class: "form-control", placeholder: "999-001" %>
        <small class="form-text text-muted col-form-label">
          Не указывайте реальные данные.
        </small>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label "Кем выдан паспорт", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :passportIssuedBy, class: "form-control", placeholder: "ОВД По Городу Москва" %>
        <small class="form-text text-muted col-form-label">
          Не указывайте реальные данные.
        </small>
      </div>
    </div>

    <div class="form-group row ">
      <%= form.label "Дата рождения", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.date_field :birthDate, class: "form-control", placeholder: "ГГГГ-ММ-ДД" %>
        <small class="form-text text-muted col-form-label">
          Не указывайте реальные данные.Календарь должен быть нативным
        </small>
      </div>
    </div>

    <div class="form-group row ">
      <%= form.label "Место рождения", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :passportBirthPlace, class: "form-control", placeholder: "гор. Москва" %>
        <small class="form-text text-muted col-form-label">
          Не указывайте реальные данные.
        </small>

      </div>
    </div>

    <div class="form-group row ">
      <%= form.label "Регион прописки", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :passportRegion, class: "form-control", placeholder: "Московская Область" %>
        <small class="form-text text-muted col-form-label">
          Не указывайте реальные данные.
        </small>
      </div>
    </div>

    <div class="form-group row ">
      <%= form.label "Наименование / ИНН работодателя", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :workinn, class: "form-control", placeholder: "Введите название, адрес, ИНН или ОГРН" %>
        <small class="form-text text-muted col-form-label">
          Не указывайте реальные данные. Поле содержит автоподстановку
        </small>

      </div>
    </div>

<!--    <div class="form-group row ">-->
      <%#= form.label :drafttoken, class: "col-sm-2 col-form-label" %>
<!--      <div class="col-sm-10">-->
        <%#= form.text_field :drafttoken, class: "form-control" %>
<!--      </div>-->
<!--    </div>-->
  <% end %>

  <% if params[:step] == "3" %>
    <div class="form-group row ">
      <%= form.label "Продукт", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10 form-group">
        <%= form.select :product, ['', 'Карта с Кэшбеком', 'Карта с Грейсом', 'Кредит наличными', 'Ипотека'], {}, {class: "form-control"} %>
        <small class="form-text text-muted col-form-label">
          Можно выбрать любой продукт
        </small>
      </div>
    </div>
    <div class="form-group row ">
      <%= form.label "Желаемый лимит", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.number_field :limit, class: "form-control", placeholder: "50 000" %>
        <small class="form-text text-muted col-form-label">
          Поле для указания желаемого лимита.
        </small>
      </div>
    </div>
  <% end %>
  <% if params[:step] == "delivery" %>
    <div class="form-group row ">
      <%= form.label "Желаемый способ получения продукта", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.select :deliveryType, ['', 'Доставка Курьером банка', 'Доставка Почтой', 'Через отделение'], {}, {class: "form-control"} %>
      </div>
    </div>

    <div class="form-group row ">
      <%= form.label "Дата доставки курьером", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.date_field :deliveryDate, class: "form-control", placeholder: "ГГГГ-ММ-ДД" %>
        <small class="form-text text-muted col-form-label">
          Поле имеет смысл только для доставки
        </small>
      </div>
    </div>
    <div class="form-group row ">
      <%= form.label "Адрес доставки", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :deliveryAdress, class: "form-control", placeholder: "Укажите адрес доставки" %>
        <small class="form-text text-muted col-form-label">
          Поле имеет смысл только для доставки
        </small>
      </div>
    </div>
  <% end %>

  <% if params[:step] == "postback" %>
  <div class="form-group row ">
    <%= form.label "Флаг одобрения", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.check_box :isAccepted, class: ""%>
    </div>
  </div>

  <div class="form-group row ">
    <%= form.label "Флаг выдачи", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.check_box :isDeal, class: ""%>
    </div>

  </div>

  <div class="form-group row ">
    <%= form.label "Дата выдачи", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.date_field :dealDate, class: "form-control", placeholder: "ГГГГ-ММ-ДД" %>

    </div>
  </div>

    <% end %>




  <div>
    <%= hidden_field_tag 'step', params[:step] %>
  </div>

  <% if params[:step] != "postback" %>
  <div class="progress">
    <% if params[:step] == '1'
         chanse = '40'
       elsif params[:step] == '2'
         chanse = '60'
       elsif params[:step] == '3'
         chanse = '85'

       elsif params[:step] == 'delivery'
         chanse = '95'
       else
         chanse = '99'
       end
    %>

    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%=chanse.to_i %>%" aria-valuenow=<%= chanse %> aria-valuemin="0" aria-valuemax="100">


      <%= 'Ваши шансы на продукт' %> <%= chanse %> <%= "%" %>
    </div>
  </div>
  <% end %>
  <div>
    <% if params[:step] == '1'
         sub_text = 'Далее'
       elsif params[:step] == '2'
         sub_text = 'Далее'
       elsif params[:step] == '3'
         sub_text = 'Отправить заявку'
       elsif params[:step] == 'delivery'
         sub_text = 'Готово'
         else
         sub_text = 'Готово'
       end


    %>
    <%= form.submit sub_text, :class => "btn btn-primary btn-block" %>
  </div>
<% end %>
<br>

<script type="text/javascript">
    $("#pil_lastname").suggestions({
        token: "530b45ff577449be7b0612c14e78a826fd768f21",
        type: "NAME",
        params: {parts: ["surname"]},
        count: 3,
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function (suggestion) {
            console.log(suggestion);
        }
    });

    $("#pil_firstname").suggestions({
        token: "530b45ff577449be7b0612c14e78a826fd768f21",
        type: "NAME",
        params: {parts: ["name"]},
        count: 3,
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function (suggestion) {
            console.log(suggestion);
        }
    });

    $("#pil_middlename").suggestions({
        token: "530b45ff577449be7b0612c14e78a826fd768f21",
        type: "NAME",
        params: {parts: ["patronymic"]},
        count: 3,
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function (suggestion) {
            // console.log(suggestion);
        }
    });
    $("#pil_email").suggestions({
        token: "530b45ff577449be7b0612c14e78a826fd768f21",
        type: "EMAIL",
        count: 3,
        // params: {parts: ["domain"]},
        suggest_local: false,

        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function (suggestion) {
            // console.log(suggestion);
        }
    });

    $("#pil_workinn").suggestions({
        token: "530b45ff577449be7b0612c14e78a826fd768f21",
        type: "PARTY",
        count: 3,


        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function (suggestion) {
            console.log(suggestion);
        }
    });
</script>
