<div>

    <% params[:step] ||= '1' %>

  <h4>
    <%= params %>
  </h4>
</div>


<%= form_with(model: pil, local: true) do |form| %>
  <% if pil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pil.errors.count, "error") %> prohibited this pil from being saved:</h2>

      <ul>
        <% pil.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%if params[:step]== "1" %>


  <div class="form-group row ">
    <%= form.label :lastname, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :lastname, class: "form-control" ,placeholder: "Иванов"%>
    </div>
  </div>

  <div class="form-group row ">
    <%= form.label :firstname, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :firstname, class: "form-control" ,placeholder: "Иван"%>
    </div>
  </div>

  <div class="form-group row ">
    <%= form.label :middlename, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :middlename, class: "form-control" ,placeholder: "Иванович"%>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :email, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.email_field :email, class: "form-control ", placeholder: "ivanov.ivan@mail.com" %>

      <small id="emailHelp" class="form-text text-muted col-form-label">
        Это тестовая форма, не указывайте реальные данные. Поле с типом = email и Клавиатура телефона должна
        адаптироватся.
      </small>
    </div>
  </div>
    <%end %>

  <%if params[:step]== "2" %>
  <div class="form-group row ">
    <%= form.label :passportSeries, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :passportSeries, class: "form-control" , placeholder: "9999"%>
    </div>
  </div>

  <div class="form-group row ">
    <%= form.label :passportNumber, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :passportNumber, class: "form-control", placeholder: "123456" %>
    </div>
  </div>

  <div class="form-group row ">
    <%= form.label :passportIssuedDate, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.date_field :passportIssuedDate, class: "form-control" , placeholder: "ГГГГ-ММ-ДД"%>
    </div>
  </div>

  <div class="form-group row ">
    <%= form.label :passportIssuedCode, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :passportIssuedCode, class: "form-control", placeholder: "999-001" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :passportIssuedBy, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :passportIssuedBy, class: "form-control", placeholder: "ОВД По Городу Москва" %>
    </div>
  </div>

  <div class="form-group row ">
    <%= form.label :birthDate, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.date_field :birthDate, class: "form-control" , placeholder: "ГГГГ-ММ-ДД" %>
    </div>
  </div>

  <div class="form-group row ">
    <%= form.label :passportBirthPlace, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :passportBirthPlace, class: "form-control", placeholder: "гор. Москва"%>
    </div>
  </div>

  <div class="form-group row ">
    <%= form.label :passportRegion, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :passportRegion, class: "form-control" , placeholder: "Московская Область"%>
    </div>
  </div>

  <div class="form-group row ">
    <%= form.label :workinn, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :workinn, class: "form-control" , placeholder: "Введите название, адрес, ИНН или ОГРН"%>
    </div>
  </div>

  <div class="form-group row ">
    <%= form.label :drafttoken, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :drafttoken, class: "form-control" %>
    </div>
  </div>
    <% end %>
  <div>
    <%= hidden_field_tag 'step', params[:step]  %>
  </div>

  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 20%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
      <%= 'Ваши шансы на продукт 20%' %>
    </div>
  </div>

  <div  >
    <% if params[:step] == '1'
          sub_text = 'Далее'
       else
          sub_text = 'Отправить заявку'
       end



    %>
    <%= form.submit sub_text,:class => "btn btn-primary btn-block" %>
  </div>
<% end %>

<script type="text/javascript">
    $("#pil_lastname").suggestions({
        token: "530b45ff577449be7b0612c14e78a826fd768f21",
        type: "NAME",
        params: {parts: ["surname"]},
        count: 3,
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            console.log(suggestion);
        }
    });

    $("#pil_firstname").suggestions({
        token: "530b45ff577449be7b0612c14e78a826fd768f21",
        type: "NAME",
        params: {parts: ["name"]},
        count: 3,
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            console.log(suggestion);
        }
    });

    $("#pil_middlename").suggestions({
        token: "530b45ff577449be7b0612c14e78a826fd768f21",
        type: "NAME",
        params: {parts: ["patronymic"]},
        count: 3,
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            // console.log(suggestion);
        }
    });
    $("#pil_email").suggestions({
        token: "530b45ff577449be7b0612c14e78a826fd768f21",
        type: "EMAIL",
        count: 3,
        // params: {parts: ["domain"]},
        suggest_local: false,

        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            // console.log(suggestion);
        }
    });

    $("#pil_workinn").suggestions({
        token: "530b45ff577449be7b0612c14e78a826fd768f21",
        type: "PARTY",
        count: 3,


        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function(suggestion) {
            console.log(suggestion);
        }
    });
</script>
