<p id="notice"><%= notice %></p>

<h2>Pils</h2>

<table>
  <thead>
    <tr>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Middlename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pils.each do |pil| %>
      <tr>
        <td><%= pil.lastname %></td>
        <td><%= pil.firstname %></td>
        <td><%= pil.middlename %></td>
        <td><%= link_to 'Show', pil, :class => "btn btn-primary"%></td>
        <td><%= link_to 'Edit', edit_pil_path(pil), :class => "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', pil, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pil', new_pil_path %>
