<p id="notice"><%= notice %></p>

<h2>Кредит наличными</h2>

<table>
  <thead>
    <tr class="border">
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Middlename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pils.each do |pil| %>
      <tr class="border">
        <td><%= pil.lastname %></td>
        <td><%= pil.firstname %></td>
        <td><%= pil.middlename %></td>
        <td><%= link_to 'Открыть', pil, :class => "btn btn-secondary"%></td>
        <td></td>
        <td><%= link_to 'Редактировать', edit_pil_path(pil), :class => "btn btn btn-secondary" %></td>
        <td></td>
        <td><%= link_to 'Удалить', pil, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая заявка', new_pil_path, :class => "btn btn-primary"%>
