<p id="notice"><%= notice %></p>


  <h2>Заявки на продукт</h2>


<div class="table-responsive">
  <table class = "table">
    <tr class="border">
      <th>ФИО</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pils.each do |pil| %>
      <tr class="border">
        <td><%= pil.lastname %> <%= pil.firstname%> <%=  pil.middlename%></td>
        <td><%= link_to 'Просмотр', pil_path(pil,:step => "1"), :class => "btn btn-sm btn-secondary"%></td>

        <td><%= link_to 'Выбрать доставку', edit_pil_path(pil,:step => "delivery"), :class => "btn btn-sm btn-secondary" %></td>
        <td><%= link_to 'Удалить', pil, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Новая заявка', new_pil_path, :class => "btn btn-primary"%>
