<p id="notice"><%= notice %></p>


  <h2>Заявки на продукт</h2>


<div class="table-responsive">
  <table class = "table">
    <tr class="border">
      <th>ФИО</th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pils.each do |pil| %>
      <tr class="border">
        <td><%= pil.lastname %> <%= pil.firstname%> <%=  pil.middlename%></td>
        <td><%= link_to ' ', pil_path(pil,:step => "1"), :class => " glyphicon glyphicon-eye-open"%></td>
        <td><%= link_to ' ', edit_pil_path(pil,:step => "delivery"), :class => "glyphicon glyphicon-calendar" %></td>
        <td><%= link_to ' ', pil, method: :delete, data: { confirm: 'Действительно удалить заявку?' }, :class => "glyphicon glyphicon-remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'Новая заявка органика', new_pil_path(:step => "1"), :class => "btn btn-primary btn-block"%>
<br>
<%= link_to 'Новая заявка google контекст', new_pil_path(:utm_source => "google",:utm_medium => "cpc"), :class => "btn btn btn-primary btn-block"%>
<br>
<%= link_to 'Новая заявка yandex поиск', new_pil_path(:utm_source => "yandex",:utm_medium => "search"), :class => "btn btn btn-primary btn-block"%>
