<p id="notice"><%= notice %></p>

<p>
  <strong>Lastname:</strong>
  <%= @pil.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @pil.firstname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @pil.middlename %>
</p>

<%= link_to 'Редактировать', edit_pil_path(@pil) , :class => " btn btn-secondary"%> |
<%#= link_to 'Вернутся на главную', pils_path , {:class => "btn btn-info"}%>

<%= link_to 'Выбрать доставку', edit_pil_path(@pil,:step => "delivery"), :class => "btn btn-secondary" %>
