<!DOCTYPE html>
<html>
<head>
  <title>Anketa</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.11.1/dist/css/suggestions.min.css" type="text/css" rel="stylesheet"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!--[if lt IE 10]>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.11.1/dist/js/jquery.suggestions.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<!-- <Заголовок> -->
<%= render "shared/header" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2">

      <!-- <Левое меню> -->
<%= render "shared/leftMenu" %>
    </div>
    <!--      <div class="col-sm-9 col-md-10">-->
    <!--        <div class="container-fluid">-->
<%#= yield %>
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->


    <div class="col-12 col-sm-9 col-md-9">
      <div class="container-fluid ">
        <%= yield %>
        <h1>

        </h1>

      </div>
    </div>
  </div>
</div>
</body>
<!--bg-success-->
</html>
